/*
 * Globals
 */

.mainpage-wrapper{
	margin-top: 15%;	
}

.cover-heading{
	font-size: 300%;
	font-family: 'Cabin';
}

.lead{
	font-size: 200%;	
	font-family: 'Archivo Narrow';
}

table.logo td {
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
	font-size: 250%;
}

table.logo {
	float: left;
	margin-left: 5%;
	margin-top: 0%;
    border-collapse: separate;
    border-spacing: 10px;
    *border-collapse: expression('separate', cellSpacing = '10px');
}

table.topnav td {
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
	font-size: 140%;
	font-family: 'Archivo Narrow';
}

table.topnav {
	float: right;
	margin-right: 5%;
	margin-top: 1%;
    border-collapse: separate;
    border-spacing: 10px;
    *border-collapse: expression('separate', cellSpacing = '10px');
}

table.portfolio td {
	width: 25%;
	font-size: 100%;
	text-align: center;
}
tr.portfolio_row  > td{
  padding-bottom: 4%;
}

table.portfolio {
	margin: 5%;
	margin-left: 5%;
	margin-right: 5%;
    border-collapse: separate;
    border-spacing: 10px;
	width: 90.5%;
}

.portfolio-image{
	width: 90%;	
}

#aboutWrapper{
	width: 50%;
	margin-left: auto;
	margin-right:auto;
	text-align: left;
}

#aboutImage{
	width: 66%;	
}

/* Links */
a,
a:focus,
a:hover {
  color: #000;
  text-decoration: none;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 90%;
  background-color: #FFF;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  color: #000;
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
